:root {
  --akira-red: #ce240a;
  --tetsuo-blue: #98d2d6;
  --electric-yellow: #ffff9e;
  --night-concrete: #5f7cb7;
  --night-white: #a9bde5;
  --shirt-green: #818e69;
  --matrix-green-light: #36c46d;
  --matrix-green-med: #18af52;
  --matrix-green-dark: #05722f;
}

body {
  background: black;
  color: var(--tetsuo-blue);
  font-family: sans-serif;
}
h1 {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--akira-red);

}