:root {
  --purple1: #972d9d;
  --purple2: #551259;
  --purple3: #3d0c3f;
  --orange1: #ce6904;
<<<<<<< HEAD
  --orange2: #9a4f00;
=======
>>>>>>> cube colors
  --orange3: #211100;
  --dark-blue: #15092e;
  --teal1: #448D76;
  --teal2: #29675d;
}

a.content-link:link { color:var(--orange1);}
a.content-link:visited { color:var(--orange2);}
a.content-link:hover {font-size:150%;}

a.dark-bg:link {color:var(--purple1);}
a.dark-bg:visited {color:var(--purple1);}
a.dark-bg:hover {font-size:150%;}

body {
  background: var(--dark-blue);/* for browsers that don't support gradients */
  background: linear-gradient(to right, #313274, #15092e);
  color:var(--orange1);
  font-family: sans-serif;
}

h1 {
  background: var(--orange1);
  background: linear-gradient(to bottom right, var(--orange1), var(--purple1));
  color: var(--orange3);
  display: inline-block;
  font-size: 300%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: var(--orange3);
  font-size: 300%;
}

p {
  color: var(--orange1);
  display: block;
  
}

ul {
  list-style-type: none;
}

#main-content {
  margin: auto;
  max-width: 90%;
  background: var(--orange3);
  display: block;
  padding: 10px;
  border-style: none solid none none;
<<<<<<< HEAD
  border-color: var(--orange2);

}

#navigator {
<<<<<<< HEAD
  background: var(--orange1);
  background: linear-gradient(to bottom, var(--orange1), var(--purple1));
  list-style: none;
  margin: 0;
}

#navigator a {
  display: block;
  text-decoration: none;
=======
  background: var(--orange);
  background: linear-gradient(to bottom, var(--orange), var(--purple));
>>>>>>> fixed tyop
=======
  border-color: var(--orange1);
}

#navigator {
  background: var(--orange1);
  background: linear-gradient(to bottom, var(--orange1), var(--purple1));
>>>>>>> cube colors
}

#youtube-player {
  display: block;
  margin: auto;
  border-color: var(--purple);
  max-width: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> cube colors
.content-index {
  background: var(--purple3);
  color: var(--orange1);
}


<<<<<<< HEAD
.playlist-button {
  background: var(--orange1);
  background: linear-gradient(to bottom, var(--orange1), var(--purple1));
  color: var(--dark-blue);
  border-color: var(--orange1);
=======
=======
>>>>>>> cube colors
.playlist-button {
  background: var(--orange1);
  background: linear-gradient(to bottom, var(--orange1), var(--purple1));
  color: var(--dark-blue);
<<<<<<< HEAD
  border-color: var(--orange);
>>>>>>> fixed tyop
=======
  border-color: var(--orange1);
>>>>>>> cube colors
}
