:root {
  --ui-green: #428f42;
  --dark-green: #092b0e;
  --dark-blue: #091d2b;
  --dark-purple: #1d0a00;
  --wood: #422200;
  --orange:#7d4101;
}

/* GENERICS */

body{
  background: #2b1101;
  background: radial-gradient(circle, #091d2b, #1d0a00);
}

select {
  background: var(--dark-blue);
  color: var(--ui-green);
  border: none;
}

button {
  background-color: var(--dark-blue);
  color: var(--ui-green);
  border: 2px solid var(--dark-green);
}

input[type=range] {
  background-color: transparent;
  /* -webkit-appearance: none; */ 
}

/* CLASSES */

.module {
  background: #091d2b;
  border: 1px solid var(--orange);
  width: 20%;
  float: left;
}

.in-jack {
  background-color:aqua;
  border-radius: 50%;
}

.out-jack {
  background-color:coral;
  border-radius: 50%;
}


/* SPECIFICS */

#patchPanel {
  border: 5px solid var(--wood);
}

#patchPanel .input {
  opacity: 0;
}

/* #patchRoutes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
} */

